<settings>
   <setting id="sortwxf" type="enum" lvalues="30012|30013|30014" label="30011" default="0"/>
   <setting id="sortxt" type="enum" lvalues="30022|30023|30024|30025" label="30021" default="0"/>
   <setting id="dontask" label="30002" type="bool" default="false" />
   <setting id="download_path" type="folder" source="video" label="Download Folder"  option="writeable" default=""/>
</settings>